$toolbarH: 60px;

.editorShell{
  height: 100vh;
}

.toolbar {
  height: $toolbarH; 
  border-bottom: 1px solid #cacaca;
}

.editorContentWrapper{
  margin: 15px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - $toolbarH - 30px);

  .editorToolbar{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cacaca;
  }

  .sidlerBar{
    min-width: 200px;
    width: 200px;
    border-right: 1px solid #cacaca;
  }

  .editorContentContainer{
    flex: 1;
    overflow: auto;
    height: calc(100% - 60px);
  }
}
